body{
    font-family: sans-serif;
    color: #31288f;
}
.logo{
    margin-top: 5%;
    width: 140px;
}
nav{
    border-bottom-style: inset;

}


nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;


}

nav li {
    display: inline;
    float:right;

}

.operator{
    width: 75%;
    padding-bottom: 25%;
    margin: 0 auto;
    background-color: grey;
}


<!---Number Divs--->
.num-display{
    margin: 0 auto;
}

#firstnum{
    background-color: #31288f;
    width:20%;
    display:inline-block;
    color: #ffffff;
    padding: 2%;
}

.guess{
    background-color: #c5c3de;
    width:20%;
    height: 30px;
    display:inline-block;
    border: solid;
}
#secondnum{
    background-color: #31288f;
    width:20%;
    display:inline-block;
    color: #ffffff;
    padding: 2%;
}

#ans{
    background-color: #31288f;
    width:20%;
    display:inline-block;
    color: #ffffff;
    padding: 2%;
}

<!--Buttons-->
.buttons{
    width: 75%;
    margin: 0 auto;
    
}
.btn-top{
    
    width: 250px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}
.btn-bottom{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.btn {
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 40px;
    background: #31288f;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: auto;
    
    
}

.btn:hover {
  background: #716ab5;
  text-decoration: none;
}