
/*top menu*/
#topMenu{
  font-family: 'fonty';
  font-size: 15px;
  max-width: 13%;
  max-height: 20%;
  border: solid purple 2px;
  border-radius: 6px;
  margin: 5px 0 0 5px;

}



@font-face { /*imports font*/
    font-family: fonty;
    src: url(Fonts/Quicksand-Light.otf);
}



a{
	text-decoration: none; /* removes underlining from all links */
}

body {
    background-image: url("bg.png");
    
}

.page{
    text-align: center;
	color: purple; /*sets default text color everywhere to purple */
    font-family: 'fonty'; /* sets default font to our font*/
}


#logoimg{ /*sets login page logo to set size*/
	max-height: 150px;
	max-width: 200px;

}

.gameicons{ /* sets size of images for game selection screen, possibly will be replaced with ripple links*/
	max-height: 150px;
	max-width: 200px;
	width: 140px;
	height: 140px;
	border: solid purple 1px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
	cursor: pointer;
	margin: 10px 0 0 0;
}


.button{ /*sets background color of operator buttons, button spacing and the curved edges*/
    background-color: #6B238E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border:none;
	font-family: 'fonty';
	font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer{ /*puts home button centre*/
    margin: 0 auto;
   
}

<!--main menu code-->

.gameButton{ /*used for mainmenu buttons*/
    border: solid brown 2px;


}

<!---Snap ---->

   #leftBox{
       background: cyan;
       width: 20%;
       min-height: 60px;
       padding-top: 40px;
   }

<!--Sequence---->
.seqnums{
    display: inline-block;
    width: 60px;
    margin-top: 100px;
    font-size: 40px;
}

#fNum, #sNum, #tNum, #answer{
  font-size: 40px;
  text-align: center;
  border: none;
    background: none;
}

#qMark{
  font-size: 40px;
}

#but1,#but2,#but3,#but4{
  padding: 20px;
  font-size: 30px;
}

.seqdisplay{
    margin-bottom: 4%;   
    
}



<!--CSS for Operators-->


.opdisplay{ /*does nothing*/

 }

#firstnum{ /*first gotten number styling MUST BE 3 IDS FOR JS*/
    width: 20%;
    display:inline-block;
    color: #6B238E;
    padding: 2%;
	font-size: 40px;
	font-weight: bold;
  border: solid #6B238E 1px;
    background: none;
}

#secondnum{ /*second gotten number styling MUST BE 3 IDS FOR JS*/
    width:20%;
    display: inline-block;
    color: #6B238E;
    padding: 2%;
	font-size: 40px;
	font-weight: bold;
  border: solid #6B238E 1px;
    background: none;
}

#ans{ /*answer number styling MUST BE 3 IDS FOR JS*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width:20%;
    display:inline-block;
    color: #6B238E;
    padding: 2%;
	font-family: 'fonty';
	border: solid #6B238E 1px;
	font-size: 40px;
	font-weight: bold;
}

.guess{ /*box to represent user guess*/
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid #6B238E 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-size: 40px;
	
}
#equalsOP{ /*just for the equals sign*/
	display: inline;
	color: #6B238E;
	font-weight: bold;
    font-size: 40px
}


.op-buttons-top{ /*centres the top 2 buttons in operators*/
    margin: 0 auto;
}

.op-buttons-btm{ /*centres the top 2 buttons*/
    margin: 0 auto;
}

.opbtn { /*for each operator button styling*/
	width: 90px;	
	height: 90px;
	font-size: 50px;
    background-color: #6B238E;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
	font-family: 'fonty';
    margin-bottom: 10px;       
}


button { /*applies ripple on every button*/
  position: relative;
  border: none;
  outline: none;
  letter-spacing: .2em;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button#butBegin{ /*ldrbrd begin button in operators*/
    font-family: 'fonty';
    border: solid black 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    font-size: 15px;
}

<!-- Ripple code -->

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple .5s ease-out;
}

@-webkit-keyframes 
ripple { to {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;}
}

@keyframes 
ripple { to {
 -webkit-transform: scale(1.5);
 transform: scale(1.5);
 opacity: 0;}
}

.ldrbrd {
  align:center;
	margin:0px;padding:0px;
	width:65%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #56aaff;
	
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.ldrbrd table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.ldrbrd tr:last-child td:last-child {
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.ldrbrd table tr:first-child td:first-child {
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.ldrbrd table tr:first-child td:last-child {
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.ldrbrd tr:last-child td:first-child{
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.ldrbrd tr:hover td{
	
}
.ldrbrd tr:nth-child(odd){ background-color:#da70d6; }
.ldrbrd tr:nth-child(even)    { background-color:#00ffff; }.ldrbrd td{
	vertical-align:middle;
	
	
	border:1px solid #56aaff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#111314;
}.ldrbrd tr:last-child td{
	border-width:0px 1px 0px 0px;
}.ldrbrd tr td:last-child{
	border-width:0px 0px 1px 0px;
}.ldrbrd tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.ldrbrd tr:first-child td{
		background:-o-linear-gradient(bottom, #e22b2b 5%, #ffaaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e22b2b), color-stop(1, #ffaaff) );
	background:-moz-linear-gradient( center top, #e22b2b 5%, #ffaaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e22b2b", endColorstr="#ffaaff");	background: -o-linear-gradient(top,#e22b2b,ffaaff);

	background-color:#e22b2b;
	border:0px solid #56aaff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:22px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.ldrbrd tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #e22b2b 5%, #ffaaff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e22b2b), color-stop(1, #ffaaff) );
	background:-moz-linear-gradient( center top, #e22b2b 5%, #ffaaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e22b2b", endColorstr="#ffaaff");	background: -o-linear-gradient(top,#e22b2b,ffaaff);

	background-color:#e22b2b;
}
.ldrbrd tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.ldrbrd tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.buttonkev {
  /*Basic Button ldrbrds*/
  display: block;
  height: 100px;
  width: 300px;
  background: purple;
  border: 2px solid rgba(33,68,72,0.59);
  margin: 40px auto;
  /*Text ldrbrds*/
  color: white;
  text-align: center;
  font: 2.5em/100px "fonty";
  /*Fancy CSS3 ldrbrds */
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 0 #1b383b;
  -moz-box-shadow: 0 4px 0 #1b383b;
  -ms-box-shadow: 0 4px 0 #1b383b;
  -o-box-shadow: 0 4px 0 #1b383b;
  box-shadow: 0 4px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255,255,255,0.4);
}

a.buttonkev {
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
  -ms-text-decoration: none;
  -o-text-decoration: none;
  text-decoration: none;
}


    
